{% extends 'base.html.twig' %}
{% block title %}Liste des comptes{% endblock %}
{% block body %}

<div class="grid grid-cols-3 gap-6 px-10">

    {% for accounts in account %}
    <div class="bg-gray-900 bg-opacity-70 p-5 shadow-2xl rounded-xl border border-gray-700 flex flex-col">        <div class="">
            {# <img class="w-16 h-16 mb-3 rounded-full shadow-lg" src="https://thispersondoesnotexist.com/" alt="Profile Image"/> #}
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ accounts.firstname }} {{ accounts.lastname }}</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">{{ accounts.email }}</span>
            <div class="flex mt-4 space-x-2">
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter</a>
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Message</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<div class="flex flex-col items-center">
    <p>Texte centré</p>
    <button class="bg-blue-500 text-white p-2">Bouton</button>
</div>


{% endblock body %}
