{% extends 'base.html.twig' %}
{% block title %}calculatrice{% endblock %}
{% block body %}
<div class="bg-slate-300 p-5 rounded-lg w-1/4 mx-auto my-[30px]">
    <h5>Calculatrice : </h5>
    <p>Type de calcul : {{chaine}}</p>
    <p>Nombre 1 : {{nombre1}}</p>
    <p>Nombre 2 : {{nombre2}}</p>
    <p>Resultat : {{resultat}} </p>
</div>

{% endblock body %}
